body {

    background-color: rgb(82, 173, 209);
    font: normal 15pt arial;
    background-image: url("https://st3.depositphotos.com/18803028/35049/i/450/depositphotos_350491732-stock-photo-math-illustration-abstract-background-numbers.jpg");

}

#titulo {
    padding: 40px;
}

header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;

    color: rgb(233, 246, 0);
    text-align: center;
    background-color: rgba(41, 83, 119, 0.674);
    box-shadow: 5px 8px black;
    margin-top: 20px;
    margin: auto;
    width: 30rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(56, 63, 3);


}

section {

    background-color: rgba(38, 147, 69, 0.833);
    border-radius: 5px;
    padding: 15px;
    width: 14rem;
    height: 250px;
    margin: auto;
    box-shadow: 5px 5px rgb(0, 0, 0);

}

footer {
    color: rgb(255, 255, 255);
    text-align: center;
    font-style: italic;
    
}

.tabua {
    width: 2rem;
    border-color: rgb(0, 0, 0);
    box-shadow: 2px 2px rgb(0, 0, 0);
    ;
}

.buttont {
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;
    box-shadow: 4px 3px 1px rgb(0, 0, 0);
    block-size: 40px;
    margin-top: 5px;
    background-color: rgba(0, 57, 14, 0.827);
    color: aliceblue;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#tabu {
    margin: 20px;
    width: 10rem;
    box-shadow: 5px 5px rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.973);
    color: rgb(0, 0, 0);
    text-align: center;
}

#nomet {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(3, 48, 3);
    font-size: 15px;


}